ansible==13.1.0
ansible-core==2.20.1
cachetools==6.2.4
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.8
cryptography==44.0.3
flwr==1.25.0
google-api-core==2.28.1
google-auth==2.45.0
google-cloud-core==2.5.0
google-cloud-storage==3.7.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-health-checking==1.76.0
idna==3.11
iterators==0.0.2
Jinja2==3.1.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
numpy==2.4.0
packaging==25.0
pathspec==0.12.1
proto-plus==1.27.0
protobuf==6.33.2
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pycryptodome==3.23.0
Pygments==2.19.2
PyYAML==6.0.3
requests==2.32.5
resolvelib==1.2.1
rich==13.9.4
rsa==4.9.1
shellingham==1.5.4
tomli==2.3.0
tomli_w==1.2.0
typer==0.20.1
typing_extensions==4.15.0
urllib3==2.6.2
